@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  animation: fadeBlackRed 10s infinite;
  height: 100vh;
  overflow-x: hidden;
}

.bg-anim {
  background: rgba(0, 0, 0, 1);
  animation: fadeheader 10s infinite;
}

@keyframes fadeheader {
  0% {
    background: rgba(0, 0, 0, 1);
  }
  50% {
    background: rgba(80, 5, 5, 1);
  }
  100% {
    background: rgba(0, 0, 0, 1);
  }
}
/* flex items-center justify-between p-4 w-full overflow-x-hidden */
/* Keyframes for fading from black to red and back */
@keyframes fadeBlackRed {
  0% {
    background-color: black;
  }
  50% {
    background-color: rgb(80, 5, 5); /* Dark Red */
  }
  100% {
    background-color: black;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animate {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.slide-left {
  opacity: 0;
  transform: translateX(-50px);
}

.slide-right {
  opacity: 0;
  transform: translateX(50px);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.5s ease-out forwards;
}